<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:networkSecurityConfig="@xml/network_security_config">
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />

        <receiver
            android:name=".QualityTestReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.userlistapp.QUALITY_NON_FATAL" />
                <action android:name="com.example.userlistapp.QUALITY_CRASH" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
